.button{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 3px solid;
    cursor: pointer;
}

#grey{ 
    background-color: gray;
}
#white{ 
    background-color: white;
}
#blue{ 
    background-color: blue;
}
#yellow{ 
    background-color: yellow;
}



